<header class="header">
  <div class="brand">
    <img src="logo.png" alt="Sentinel logo" class="logo" />
    <h2>Sentinel</h2>
    <nav>
      <a routerLink="assistance/frequent-questions">{{'assistance.nav.freques' | translate}}</a>
      <a routerLink="assistance/human-suport">{{'assistance.nav.humassist' | translate}}</a>
      <a routerLink="assistance/edit-profile">{{'assistance.nav.humassist' | translate}}</a>
      <a routerLink="/settings">{{'navbar.confg' | translate}}</a>
    </nav>
  </div>

  <div class="actions">
    <app-language-switcher></app-language-switcher>
    <button class="logout-btn" (click)="logout()">
      {{ 'navbar.logout' | translate }}
    </button>
  </div>
</header>
